//
// Grid
// --------------------------------------------------

//==Grid system

// Columns
//
// Common styles for small to large grid columns
@include make-grid-columns;

// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.
@include make-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@include breakpoint(medium) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@include breakpoint(medium) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@include breakpoint(large) {
  @include make-grid(lg);
}



//==Container and Container Fluid
.container {
  @include grid-col-row;
}

.container-fluid {
  @include grid-col;

  .row {
    @include grid-row-size(expand);
  }
}

// Gutters
.container, .container-fluid {
  @include clearfix;

  float: none !important;

  margin-right: auto;
  margin-left: auto;

  .row {
    $gutter: $grid-column-gutter;
    @if type-of($gutter) == 'map' {
      @each $breakpoint, $value in $gutter {
        $margin: rem-calc($value) / 2;

        @include breakpoint($breakpoint) {
          margin-left: -$margin;
          margin-right: -$margin;
        }
      }
    }
    @else if type-of($gutter) == 'number' and strip-unit($gutter) > 0 {
      $margin: rem-calc($gutter) / 2;
      margin-left: -$margin;
      margin-right: -$margin;
    }
  }
}
