//
// Grid
// --------------------------------------------------

//== Make Grid
@include make-grid(xs);
@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);


//==Container and Container Fluid
.container {
  @include grid-column-row;
  clear: both !important;
  float: none !important;
}

.container-fluid {
  @include grid-col;

  clear: both !important;
  float: none !important;

  margin-right: auto;
  margin-left: auto;
}

.container, .container-fluid {
  .row {
    @include grid-row-size(expand);

    // Gutters
    $gutter: $grid-column-gutter;
    @if type-of($gutter) == 'map' {
      @each $breakpoint, $value in $gutter {
        $margin: rem-calc($value) / 2;

        @include breakpoint($breakpoint) {
          margin-left: -$margin;
          margin-right: -$margin;
        }
      }
    }
    @else if type-of($gutter) == 'number' and strip-unit($gutter) > 0 {
      $margin: rem-calc($gutter) / 2;
      margin-left: -$margin;
      margin-right: -$margin;
    }
  }
}