//
// Responsive: Utility classes
// --------------------------------------------------

.visible-xs {
  @include show-for-only(small);
}

.visible-xs-block {
  display: none !important;

  @include breakpoint(small only) {
    display: block !important;
  }
}
.visible-xs-inline {
  display: none !important;

  @include breakpoint(small only) {
    display: inline !important;
  }
}
.visible-xs-inline-block {
  @include breakpoint(small only) {
    display: inline-block !important;
  }
}

.visible-sm {
  @include show-for-only(medium);
}
.visible-sm-block {
  display: none !important;

  @include breakpoint(medium only) {
    display: block !important;
  }
}
.visible-sm-inline {
  display: none !important;

  @include breakpoint(medium only) {
    display: inline !important;
  }
}
.visible-sm-inline-block {
  display: none !important;

  @include breakpoint(medium only) {
    display: inline-block !important;
  }
}

.visible-md {
  @include show-for-only(medium);
}
.visible-md-block {
  display: none !important;

  @include breakpoint(medium only) {
    display: block !important;
  }
}
.visible-md-inline {
  display: none !important;

  @include breakpoint(medium only) {
    display: inline !important;
  }
}
.visible-md-inline-block {
  display: none !important;

  @include breakpoint(medium only) {
    display: inline-block !important;
  }
}

.visible-lg {
  @include show-for(large);
}
.visible-lg-block {
  display: none !important;

  @include breakpoint(large) {
    display: block !important;
  }
}
.visible-lg-inline {
  display: none !important;

  @include breakpoint(large) {
    display: inline !important;
  }
}
.visible-lg-inline-block {
  display: none !important;

  @include breakpoint(large) {
    display: inline-block !important;
  }
}

.hidden-lg {
  @include hide-for(large);
}
.hidden-md {
  @include hide-for-only(medium);
}
.hidden-sm {
  @include hide-for-only(medium);
}
.hidden-xs {
  @include hide-for-only(small);
}


