//
// Tables
// --------------------------------------------------

// Table cell sizing
//
// Reset default table behavior
table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none !important; //important for prevent float last child from foundation
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none !important; //important for prevent float last child from foundation
      display: table-cell;
    }
  }
}