//
// Forms Framework
// --------------------------------------------------

/// Color of labels prefixed to an input.
/// @type Color
$input-prefix-color: $black !default;

/// Background color of labels prefixed to an input.
/// @type Color
$input-prefix-background: $light-gray !default;

/// Border around labels prefixed to an input.
/// @type Border
$input-prefix-border: 1px solid $medium-gray !default;


@mixin form-control-validation(
  $border: $input-prefix-border,
  $color: $input-prefix-color,
  $background: $input-prefix-background
) {

  input {
    border-color: $border;
    color: $color;
  }

  // Set validation states also for addons
  .input-group-addon {
    color: $color;
    border-color: $border;
    background-color: $background;
  }
  // Optional feedback icon
  .form-control-feedback {
    color: $color;
  }
}


// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

// [converter] extracted from `.form-inline` for libsass compatibility
@mixin form-inline-bs {

  // Kick in the inline
  @include breakpoint(medium) {

    @include form-inline;

    // Input groups need that 100% width though
    .input-group > .form-control,
    .input-group > input,
    .input-group > select,
    .input-group > textarea {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    label {
      display: inline-block;
      margin: 0 0 $form-spacing;
    }

    // Make static controls behave like regular ones
    .form-control-static {
      display: inline-block;
    }

    // Re-override the feedback icon.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}